#streams, #playlists {
  margin-left: 50px;
}

.videos {
  margin-left: 30px;
}

/*.streamsView {
  height: 50%;
}

.playlistsView {
  height: 50%;
}*/

.XMLSpace {
  margin: 5px;
  padding: 20px;
  border: black;
  border-style: solid;
  min-height: 400px;
  width: 800px;
}

.userView {
  margin: 5px;
  padding: 20px;
  border: black;
  border-style: solid;
  min-height: 400px;
  width: 450px;
  position: absolute;
  right: 0px;
  top: 20px;
}


.controlPanel {
  margin: 5px;
  padding: 20px;
  border: black;
  border-style: solid;
  min-height: 200px;
}

.addStream {
  float: left;
  display: inline-block;
  width: 30%;
}
.addPlaylist {
  float: left;
  display: inline-block;
  width: 30%;
}
.addVideo {
  float: left;
  display: inline-block;
  width: 30%;
}
